In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession, Window
import pyspark.sql.functions as f
import pyspark.sql.types as t

In [2]:
spark_session = (SparkSession.builder
                .master('local')
                .appName('Big Data Project')
                .config(conf=SparkConf())
                .getOrCreate())

### Define the schemas

In [3]:
name_basics_schema = t.StructType([
    t.StructField("nconst", t.StringType(), nullable=False),
    t.StructField("primaryName", t.StringType(), nullable=False),
    t.StructField("birthYear", t.IntegerType(), nullable=True),
    t.StructField("deathYear", t.IntegerType(), nullable=True),
    t.StructField("primaryProfession", t.StringType(), nullable=True),
    t.StructField("knownForTitles", t.StringType(), nullable=True)
])

In [157]:
# Define the schema for the 'title.basics.tsv' table
title_basics_schema = t.StructType([
    t.StructField("tconst", t.StringType(), nullable=False),
    t.StructField("titleType", t.StringType(), nullable=True),
    t.StructField("primaryTitle", t.StringType(), nullable=True),
    t.StructField("originalTitle", t.StringType(), nullable=True),
    t.StructField("isAdult", t.IntegerType(), nullable=True),
    t.StructField("startYear", t.IntegerType(), nullable=True),
    t.StructField("endYear", t.IntegerType(), nullable=True),
    t.StructField("runtimeMinutes", t.IntegerType(), nullable=True),
    t.StructField("genres", t.StringType(), nullable=True)
])

In [5]:
# Define the schema for the 'title.akas.tsv' table
title_akas_schema = t.StructType([
    t.StructField("titleId", t.StringType(), nullable=False),
    t.StructField("ordering", t.IntegerType(), nullable=True),
    t.StructField("title", t.StringType(), nullable=True),
    t.StructField("region", t.StringType(), nullable=True),
    t.StructField("language",t.StringType(), nullable=True),
    t.StructField("types", t.StringType(), nullable=True),
    t.StructField("attributes", t.StringType(), nullable=True),
    t.StructField("isOriginalTitle", t.IntegerType(), nullable=True)
])

In [6]:
# Define the schema for the 'title.crew.tsv' table
title_crew_schema = t.StructType([
    t.StructField("tconst", t.StringType(), nullable=False),
    t.StructField("directors", t.StringType(), nullable=True),
    t.StructField("writers", t.StringType(), nullable=True)
])

In [7]:
# Define the schema for the 'title.principals.tsv' table
title_principals_schema = t.StructType([
    t.StructField("tconst", t.StringType(), nullable=False),
    t.StructField("ordering", t.IntegerType(), nullable=True),
    t.StructField("nconst", t.StringType(), nullable=True),
    t.StructField("category", t.StringType(), nullable=True),
    t.StructField("job", t.StringType(), nullable=True),
    t.StructField("characters", t.StringType(), nullable=True)
])

In [8]:
# Define the schema for the 'title.ratings.tsv' table
title_ratings_schema = t.StructType([
    t.StructField("tconst", t.StringType(), nullable=False),
    t.StructField("averageRating", t.FloatType(), nullable=True),
    t.StructField("numVotes", t.IntegerType(), nullable=True)
])

In [9]:
# Define the schema for the 'title.episode.tsv' table
title_episode_schema = t.StructType([
    t.StructField("tconst", t.StringType(), nullable=False),
    t.StructField("parentTconst", t.StringType(), nullable=True),
    t.StructField("seasonNumber", t.IntegerType(), nullable=True),
    t.StructField("episodeNumber", t.IntegerType(), nullable=True)
])

### Read the datasets

In [158]:
name_basics_df = spark_session.read.csv("imdb/name.basics.tsv", sep=r'\t', header=True, schema=name_basics_schema)
title_basics_df = spark_session.read.csv("imdb/title.basics.tsv", sep=r'\t', header=True, schema=title_basics_schema)
title_akas_df = spark_session.read.csv("imdb/title.akas.tsv", sep=r'\t', header=True, schema=title_akas_schema)
title_crew_df = spark_session.read.csv("imdb/title.crew.tsv", sep=r'\t', header=True, schema=title_crew_schema)
title_principals_df = spark_session.read.csv("imdb/title.principals.tsv", sep=r'\t', header=True, schema=title_principals_schema)
title_ratings_df = spark_session.read.csv("imdb/title.ratings.tsv", sep=r'\t', header=True, schema=title_ratings_schema)
title_episode_df = spark_session.read.csv("imdb/title.episode.tsv", sep=r'\t', header=True, schema=title_episode_schema)

In [159]:
dfs = [name_basics_df, title_basics_df, title_akas_df, title_crew_df, title_principals_df, title_ratings_df, title_episode_df]
df_names = ["name.basics", "title.basics.tsv", "title.akas.tsv", "title.crew.tsv", "title.principals.tsv", "title.ratings.tsv", "title.episode.tsv"]

In [174]:
for df, name in zip(dfs, df_names):
    print(name, ":", df.columns)
    df.show()

name.basics : ['nconst', 'primaryName', 'birthYear', 'deathYear', 'Profession', 'knownForTitle']
+---------+-------------+---------+---------+-------------+-------------+
|   nconst|  primaryName|birthYear|deathYear|   Profession|knownForTitle|
+---------+-------------+---------+---------+-------------+-------------+
|nm0000001| Fred Astaire|     1899|     1987|   soundtrack|    tt0072308|
|nm0000001| Fred Astaire|     1899|     1987|   soundtrack|    tt0031983|
|nm0000001| Fred Astaire|     1899|     1987|   soundtrack|    tt0053137|
|nm0000001| Fred Astaire|     1899|     1987|   soundtrack|    tt0050419|
|nm0000001| Fred Astaire|     1899|     1987|        actor|    tt0072308|
|nm0000001| Fred Astaire|     1899|     1987|        actor|    tt0031983|
|nm0000001| Fred Astaire|     1899|     1987|        actor|    tt0053137|
|nm0000001| Fred Astaire|     1899|     1987|        actor|    tt0050419|
|nm0000001| Fred Astaire|     1899|     1987|miscellaneous|    tt0072308|
|nm0000001| Fred Astaire|     1899|     1987|miscellaneous|    tt0031983|
|nm0000001| Fred Astaire|     1899|     1987|miscellaneous|    tt0053137|
|nm0000001| Fred Astaire|     1899|     1987|miscellaneous|    tt0050419|
|nm0000002|Lauren Bacall|     1924|     2014|      actress|    tt0037382|
|nm0000002|Lauren Bacall|     1924|     2014|      actress|    tt0075213|
|nm0000002|Lauren Bacall|     1924|     2014|      actress|    tt0038355|
|nm0000002|Lauren Bacall|     1924|     2014|      actress|    tt0117057|
|nm0000002|Lauren Bacall|     1924|     2014|   soundtrack|    tt0037382|
|nm0000002|Lauren Bacall|     1924|     2014|   soundtrack|    tt0075213|
|nm0000002|Lauren Bacall|     1924|     2014|   soundtrack|    tt0038355|
|nm0000002|Lauren Bacall|     1924|     2014|   soundtrack|    tt0117057|
+---------+-------------+---------+---------+-------------+-------------+
only showing top 20 rows

title.basics.tsv : ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genre']
+---------+---------+--------------------+--------------------+-------+---------+--------------+-----------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|runtimeMinutes|      genre|
+---------+---------+--------------------+--------------------+-------+---------+--------------+-----------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|             1|Documentary|
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|             1|      Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|             5|  Animation|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|             5|      Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|             4|  Animation|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|             4|     Comedy|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|             4|    Romance|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|            12|  Animation|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|            12|      Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|             1|     Comedy|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|             1|      Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|             1|      Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|             1|      Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|             1|      Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|             1|Documentary|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|             1|      Short|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|            45|    Romance|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|             1|Documentary|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|             1|      Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|             1|Documentary|
+---------+---------+--------------------+--------------------+-------+---------+--------------+-----------+
only showing top 20 rows

title.akas.tsv : ['titleId', 'ordering', 'title', 'region', 'types', 'attributes']
+---------+--------+--------------------+------+-----------+--------------------+
|  titleId|ordering|               title|region|      types|          attributes|
+---------+--------+--------------------+------+-----------+--------------------+
|tt0000001|       1|          Карменсіта|    UA|imdbDisplay|                  \N|
|tt0000001|       2|          Carmencita|    DE|         \N|       literal title|
|tt0000001|       3|Carmencita - span...|    HU|imdbDisplay|                  \N|
|tt0000001|       4|          Καρμενσίτα|    GR|imdbDisplay|                  \N|
|tt0000001|       5|          Карменсита|    RU|imdbDisplay|                  \N|
|tt0000001|       6|          Carmencita|    US|imdbDisplay|                  \N|
|tt0000001|       7|          Carmencita|    \N|   original|                  \N|
|tt0000001|       8|      カルメンチータ|    JP|imdbDisplay|                  \N|
|tt0000002|       1|Le clown et ses c...|    \N|   original|                  \N|
|tt0000002|       2|Le clown et ses c...|    FR|imdbDisplay|                  \N|
|tt0000002|       3|   A bohóc és kutyái|    HU|imdbDisplay|                  \N|
|tt0000002|       4|Der Clown und sei...|    DE|         \N|       literal title|
|tt0000002|       5|Clovnul si cainii...|    RO|imdbDisplay|                  \N|
|tt0000002|       6|  Клоун и его собаки|    RU|imdbDisplay|                  \N|
|tt0000002|       7|The Clown and His...|    US|         \N|literal English t...|
|tt0000002|       8|          道化師と犬|    JP|imdbDisplay|                  \N|
|tt0000003|       1|    Sarmanul Pierrot|    RO|imdbDisplay|                  \N|
|tt0000003|       2|     Szegény Pierrot|    HU|imdbDisplay|                  \N|
|tt0000003|       3|        哀れなピエロ|    JP|imdbDisplay|                  \N|
|tt0000003|       4|        Бідний П'єро|    UA|imdbDisplay|                  \N|
+---------+--------+--------------------+------+-----------+--------------------+
only showing top 20 rows

title.crew.tsv : ['tconst', 'director']
+---------+---------+
|   tconst| director|
+---------+---------+
|tt0000001|nm0005690|
|tt0000002|nm0721526|
|tt0000003|nm0721526|
|tt0000004|nm0721526|
|tt0000005|nm0005690|
|tt0000006|nm0005690|
|tt0000007|nm0005690|
|tt0000007|nm0374658|
|tt0000008|nm0005690|
|tt0000009|nm0085156|
|tt0000010|nm0525910|
|tt0000011|nm0804434|
|tt0000012|nm0525910|
|tt0000012|nm0525908|
|tt0000013|nm0525910|
|tt0000014|nm0525910|
|tt0000015|nm0721526|
|tt0000016|nm0525910|
|tt0000017|nm0804434|
|tt0000017|nm1587194|
+---------+---------+
only showing top 20 rows

title.principals.tsv : ['tconst', 'ordering', 'nconst', 'category']
+---------+--------+---------+---------------+
|   tconst|ordering|   nconst|       category|
+---------+--------+---------+---------------+
|tt0000001|       1|nm1588970|           self|
|tt0000001|       2|nm0005690|       director|
|tt0000001|       3|nm0374658|cinematographer|
|tt0000002|       1|nm0721526|       director|
|tt0000002|       2|nm1335271|       composer|
|tt0000003|       1|nm0721526|       director|
|tt0000003|       2|nm1770680|       producer|
|tt0000003|       3|nm1335271|       composer|
|tt0000003|       4|nm5442200|         editor|
|tt0000004|       1|nm0721526|       director|
|tt0000004|       2|nm1335271|       composer|
|tt0000005|       1|nm0443482|          actor|
|tt0000005|       2|nm0653042|          actor|
|tt0000005|       3|nm0005690|       director|
|tt0000005|       4|nm0249379|       producer|
|tt0000006|       1|nm0005690|       director|
|tt0000007|       1|nm0179163|          actor|
|tt0000007|       2|nm0183947|          actor|
|tt0000007|       3|nm0005690|       director|
|tt0000007|       4|nm0374658|       director|
+---------+--------+---------+---------------+
only showing top 20 rows

title.ratings.tsv : ['tconst', 'averageRating', 'numVotes']
+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1990|
|tt0000002|          5.8|     265|
|tt0000003|          6.5|    1851|
|tt0000004|          5.5|     178|
|tt0000005|          6.2|    2636|
|tt0000006|          5.0|     183|
|tt0000007|          5.4|     825|
|tt0000008|          5.4|    2128|
|tt0000009|          5.3|     206|
|tt0000010|          6.9|    7233|
|tt0000011|          5.3|     369|
|tt0000012|          7.4|   12366|
|tt0000013|          5.7|    1897|
|tt0000014|          7.1|    5564|
|tt0000015|          6.2|    1098|
|tt0000016|          5.9|    1520|
|tt0000017|          4.6|     329|
|tt0000018|          5.3|     599|
|tt0000019|          4.8|      32|
|tt0000020|          4.8|     364|
+---------+-------------+--------+
only showing top 20 rows

title.episode.tsv : ['tconst', 'parentTconst', 'seasonNumber', 'episodeNumber']
+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|   tt0041038|           1|            9|
|tt0042816|   tt0989125|           1|           17|
|tt0042889|   tt0989125|        null|         null|
|tt0043426|   tt0040051|           3|           42|
|tt0043631|   tt0989125|           2|           16|
|tt0043693|   tt0989125|           2|            8|
|tt0043710|   tt0989125|           3|            3|
|tt0044093|   tt0959862|           1|            6|
|tt0044668|   tt0044243|           2|           16|
|tt0044901|   tt0989125|           3|           46|
|tt0045519|   tt0989125|           4|           11|
|tt0045960|   tt0044284|           2|            3|
|tt0046135|   tt0989125|           4|            5|
|tt0046150|   tt0341798|        null|         null|
|tt0046855|   tt0046643|           1|            4|
|tt0046864|   tt0989125|           5|           20|
|tt0047810|   tt0914702|           3|           36|
|tt0047852|   tt0047745|           1|           15|
|tt0047858|   tt0046637|           2|            9|
|tt0047961|   tt0989125|           6|            5|
+---------+------------+------------+-------------+
only showing top 20 rows

In [161]:
for df, name in zip(dfs, df_names):
    print(name, df.count())

name.basics 12727713
title.basics.tsv 10044533
title.akas.tsv 36761777
title.crew.tsv 10044533
title.principals.tsv 57431166
title.ratings.tsv 1334225
title.episode.tsv 7643524

### Data Preprocessing

#### Explode columns with multiple values

In [162]:
def explode_and_drop(df, old_col, new_col):
    df = df.withColumn(old_col, f.split(f.col(old_col), ","))
    df = df.select("*", f.explode(f.col(old_col)).alias(new_col))
    df = df.drop(old_col)
    return df

In [163]:
name_basics_df = explode_and_drop(name_basics_df, "primaryProfession", "Profession")

In [164]:
name_basics_df = explode_and_drop(name_basics_df, "knownForTitles", "knownForTitle")

In [165]:
title_basics_df = explode_and_drop(title_basics_df, "genres", "genre")

In [166]:
title_crew_df = explode_and_drop(title_crew_df, "directors", "director")

#### Drop useless columns

In [167]:
title_basics_df = title_basics_df.drop("endYear")

In [168]:
title_akas_df = title_akas_df.drop("language", "isOriginalTitle")

In [169]:
title_crew_df = title_crew_df.drop("writers")

In [170]:
title_principals_df = title_principals_df.drop("characters", "job")

In [171]:
dfs = [name_basics_df, title_basics_df, title_akas_df, title_crew_df, title_principals_df, title_ratings_df, title_episode_df]

### Business Questions

#### Q1: Which directors are associated with the highest number of titles (movies/TV shows) in the database?

In [ ]:
directors_with_num_of_firected_films_df = title_crew_df.groupBy('director').agg(f.count("tconst").alias("Titles")).orderBy("Titles", ascending=False)
directors_with_num_of_firected_films_df.show(6)

#### Q2: Highest ranked films where there are more than 2 million votes Films directed by the director of the best rated film

In [25]:
highest_ranked_films_df_filtered = title_ratings_df.filter(title_ratings_df.numVotes > 2000000).orderBy("averageRating", ascending=False)

In [ ]:
highest_ranked_films_df_filtered.show()

In [ ]:
highest_ranked_films_df_joined = highest_ranked_films_df_filtered.join(title_basics_df.dropDuplicates((['tconst'])), on='tconst', how='inner')
highest_ranked_films_df_joined.show()

#### Q3: Which TV special for adults has the longest duration

In [ ]:
tv_special_df = title_basics_df.filter((title_basics_df.titleType == "tvSpecial") & f.col("runtimeMinutes").isNotNull())
tv_special_adults_df = tv_special_df.where(f.col("isAdult") == 1).dropDuplicates(["tconst"]).orderBy("runtimeMinutes", ascending=False)
tv_special_adults_df.show()

#### Q4: What are the most popular genres for every content type (titleType)

In [96]:
# First, calculate the count of each genre within its corresponding titleType partition
content_genres_window = Window.partitionBy("titleType", "genre").orderBy("titleType")
content_genres_df = title_basics_df.withColumn("Count", f.count(f.col("genre")).over(content_genres_window)).select("titleType", "genre", "Count").distinct()
content_genres_df.show()

+---------+-----------+------+
|titleType|      genre| Count|
+---------+-----------+------+
|    movie|     Action| 54439|
|    movie|      Adult|  9215|
|    movie|  Adventure| 28445|
|    movie|  Animation|  9232|
|    movie|  Biography| 17416|
|    movie|     Comedy|110022|
|    movie|      Crime| 37602|
|    movie|Documentary|124083|
|    movie|      Drama|236527|
|    movie|     Family| 17805|
|    movie|    Fantasy| 15510|
|    movie|  Film-Noir|   882|
|    movie|  Game-Show|    25|
|    movie|    History| 14434|
|    movie|     Horror| 37622|
|    movie|      Music| 13781|
|    movie|    Musical| 10297|
|    movie|    Mystery| 17279|
|    movie|       News|  1449|
|    movie| Reality-TV|   523|
+---------+-----------+------+
only showing top 20 rows

In [97]:
# Then, find the genre with the highest count for each titleType
genre_rank_window = Window.partitionBy("titleType").orderBy(f.col("Count").desc())
content_genres_df_with_rank = content_genres_df.withColumn("Rank", f.max(f.col("Count")).over(genre_rank_window))
content_genres_max_df = content_genres_df_with_rank.where(f.col("Count") == f.col("Rank")).drop("Rank")
content_genres_max_df.show()

+------------+-----------+-------+
|   titleType|      genre|  Count|
+------------+-----------+-------+
|       movie|      Drama| 236527|
|       short|      Short| 887786|
|   tvEpisode|      Drama|2226176|
|tvMiniSeries|      Drama|  11733|
|     tvMovie|Documentary|  45742|
|     tvPilot|         \N|      1|
|    tvSeries|     Comedy|  57258|
|     tvShort|      Short|   9245|
|   tvSpecial|      Music|  11277|
|       video|      Short| 116017|
|   videoGame|     Action|  14571|
+------------+-----------+-------+

#### Q5: How many episodes are there on average per TV show?

In [181]:
episodes_df = title_episode_df.where((f.col("seasonNumber").isNotNull()) & (f.col("episodeNumber").isNotNull()))

average_episodes_joined = (
    episodes_df
    .groupBy("tconst")
    .agg(f.max("episodeNumber").alias("episodes_quantity"))
)

average_episodes_joined = (
    episodes_df
    .groupBy("tconst")
    .agg(
        f.avg("episodeNumber").alias("average_episodes"),
        f.sum("episodeNumber").alias("sum_episodes")
    )
)
average_episodes_joined.show()

+---------+----------------+------------+
|   tconst|average_episodes|sum_episodes|
+---------+----------------+------------+
|tt0041951|             9.0|           9|
|tt0042816|            17.0|          17|
|tt0043426|            42.0|          42|
|tt0043631|            16.0|          16|
|tt0043693|             8.0|           8|
|tt0043710|             3.0|           3|
|tt0044093|             6.0|           6|
|tt0044668|            16.0|          16|
|tt0044901|            46.0|          46|
|tt0045960|             3.0|           3|
|tt0046135|             5.0|           5|
|tt0046855|             4.0|           4|
|tt0046864|            20.0|          20|
|tt0047852|            15.0|          15|
|tt0047858|             9.0|           9|
|tt0048302|             6.0|           6|
|tt0048371|            11.0|          11|
|tt0049585|             5.0|           5|
|tt0049669|             2.0|           2|
|tt0050031|             4.0|           4|
+---------+----------------+------------+
only showing top 20 rows

In [180]:
episodes_df.join(
    title_basics_df,
    on="tconst",
    how="inner"
).orderBy(f.col("episodeNumber").desc()).show()

+----------+------------+------------+-------------+---------+--------------------+--------------------+-------+---------+--------------+----------+
|    tconst|parentTconst|seasonNumber|episodeNumber|titleType|        primaryTitle|       originalTitle|isAdult|startYear|runtimeMinutes|     genre|
+----------+------------+------------+-------------+---------+--------------------+--------------------+-------+---------+--------------+----------+
|tt28396918|   tt0068069|           1|        97251|tvEpisode|    Episode #1.97251|    Episode #1.97251|      0|     2023|          null|     Drama|
|tt28396918|   tt0068069|           1|        97251|tvEpisode|    Episode #1.97251|    Episode #1.97251|      0|     2023|          null|   Romance|
| tt2093578|   tt0417331|          11|        91334|tvEpisode|Quick Fix: Denim ...|Quick Fix: Denim ...|      0|     2011|          null|Reality-TV|
| tt2093577|   tt0417331|          11|        72615|tvEpisode|HDIL Quick Fix: M...|HDIL Quick Fix: M...|      0|     2011|          null|Reality-TV|
| tt9186160|   tt0065272|           1|        46002|tvEpisode|    Episode #1.46002|    Episode #1.46002|      0|     1987|          null|     Drama|
| tt9186160|   tt0065272|           1|        46002|tvEpisode|    Episode #1.46002|    Episode #1.46002|      0|     1987|          null|   Mystery|
| tt9186160|   tt0065272|           1|        46002|tvEpisode|    Episode #1.46002|    Episode #1.46002|      0|     1987|          null|   Romance|
| tt2229655|   tt0065272|           1|        40000|tvEpisode|    Episode #1.40000|    Episode #1.40000|      0|     1985|          null|     Drama|
| tt2229655|   tt0065272|           1|        40000|tvEpisode|    Episode #1.40000|    Episode #1.40000|      0|     1985|          null|   Mystery|
| tt2229655|   tt0065272|           1|        40000|tvEpisode|    Episode #1.40000|    Episode #1.40000|      0|     1985|          null|   Romance|
| tt4488914|   tt3699928|           2|        25000|tvEpisode|25k Views Super S...|25k Views Super S...|      0|     2014|          null|      News|
|tt28512419|   tt0056758|           1|        24009|tvEpisode|    Episode #1.24009|    Episode #1.24009|      0|     1972|          null|     Crime|
|tt28512419|   tt0056758|           1|        24009|tvEpisode|    Episode #1.24009|    Episode #1.24009|      0|     1972|          null|     Drama|
|tt28512419|   tt0056758|           1|        24009|tvEpisode|    Episode #1.24009|    Episode #1.24009|      0|     1972|          null|   Romance|
|tt28512396|   tt0056758|           1|        23906|tvEpisode|    Episode #1.23906|    Episode #1.23906|      0|     1972|          null|   Romance|
|tt28512396|   tt0056758|           1|        23906|tvEpisode|    Episode #1.23906|    Episode #1.23906|      0|     1972|          null|     Crime|
|tt28512396|   tt0056758|           1|        23906|tvEpisode|    Episode #1.23906|    Episode #1.23906|      0|     1972|          null|     Drama|
| tt4509968|   tt0062595|           1|        21907|tvEpisode|    Episode #1.21907|    Episode #1.21907|      0|     2011|          null|     Drama|
| tt4509968|   tt0062595|           1|        21907|tvEpisode|    Episode #1.21907|    Episode #1.21907|      0|     2011|          null|   Romance|
|tt17503738|   tt7260936|           5|        20910|tvEpisode|    Episode #5.20910|    Episode #5.20910|      0|     null|          null| Game-Show|
+----------+------------+------------+-------------+---------+--------------------+--------------------+-------+---------+--------------+----------+
only showing top 20 rows

#### !!!!!!!!Q6: Which actors or actresses have appeared in the most episodes (and their average rating)?

In [65]:
# Group by nconst and primaryName, and count the occurrences of each actor/actress in the knownForTitle column
actor_episode_counts_df = ( 
        name_basics_df
        .groupBy("nconst", "primaryName", "knownForTitle")
        .agg(f.count("knownForTitle").alias("episodes"))
)

# Order the results in descending order based on episode_count
sorted_actor_episode_counts_df = actor_episode_counts_df.orderBy(f.desc("episodes"))

In [83]:

# Join the sorted_actor_episode_counts_df with title.ratings_df to get the average rating for each actor/actress
result_df = sorted_actor_episode_counts_df.join(
    title_ratings_df,
    f.expr("knownForTitle = tconst"),
    how="inner"
)

# Calculate the sum of averageRating and episodes for each actor/actress
result_df = result_df.groupBy("nconst", "primaryName").agg(
    f.sum("averageRating").alias("total_rating"),
    f.sum("episodes").alias("total_episodes")
)

# Calculate the average rating for each actor/actress
result_df = result_df.withColumn("average_rating", f.col("total_rating") / f.col("total_episodes"))

result_df = result_df.select("primaryName", "average_rating", "total_episodes").show()

+--------------------+------------------+--------------+
|         primaryName|    average_rating|total_episodes|
+--------------------+------------------+--------------+
|Manuel Tamayo y Baus| 5.975000023841858|             4|
|       Arline Pretty| 5.200000047683716|             2|
|       Charles Dewey| 5.699999809265137|             1|
|   Kathleen O'Connor| 5.450000047683716|             2|
|          Ali Hubert|2.3749999602635703|            12|
|       Allan Simpson| 6.699999968210856|             3|
|       André Barsacq|              2.25|             6|
|     Captain Kearney| 5.599999904632568|             1|
|         Owen Wister| 3.087499976158142|             8|
|      Lorraine Aalbu|               6.0|             1|
|         Frank Rowan| 3.616666634877523|             6|
|      Anchise Brizzi|5.8999998569488525|             4|
|      Garland Weaver| 3.162499964237213|             8|
|       Lorraine Rugg| 5.699999809265137|             1|
|        Lyda Roberti| 3.037499964237213|             8|
|        Norma Adoree| 5.800000190734863|             1|
|     Heinrich Marlow| 7.099999904632568|             2|
|       Bruno Torrisi| 5.099999904632568|             1|
| Vladimir Shnejderov|1.5111111005147297|             9|
|      László Perényi| 6.833333333333333|             3|
+--------------------+------------------+--------------+
only showing top 20 rows

#### Q7: Actors that lived the most

In [151]:
current_year = f.year(f.current_date())
filtered_ages_df = name_basics_df.filter(name_basics_df.deathYear.isNotNull() & name_basics_df.birthYear.isNotNull())

# Calculate the age
age_df = filtered_ages_df.withColumn('age',f.col("deathYear") - f.col("birthYear"))

# Filter for actors and drop duplicates
actors_df = age_df.filter(f.col("Profession") == "actor").dropDuplicates(["nconst"])

# Order by age in descending order
result = actors_df.orderBy(f.col("age").desc())

result.show()

+---------+--------------------+---------+---------+----------+-------------+---+
|   nconst|         primaryName|birthYear|deathYear|Profession|knownForTitle|age|
+---------+--------------------+---------+---------+----------+-------------+---+
|nm0406304|    Giuseppe Ianigro|     1898|     2008|     actor|    tt0055753|110|
|nm1158663|        Nino Cochise|     1874|     1984|     actor|    tt0042171|110|
|nm0077980|     Octave Berthier|     1875|     1984|     actor|    tt0216961|109|
|nm0191102|       Hugues Cuénod|     1902|     2010|     actor|   tt13737592|108|
|nm0373535|   Johannes Heesters|     1903|     2011|     actor|    tt0027351|108|
|nm0516093|        Norman Lloyd|     1914|     2021|     actor|    tt0097165|107|
|nm7922088|Pappukutty Bhagav...|     1913|     2020|     actor|    tt0254797|107|
|nm0704527|         Milton Quon|     1913|     2019|     actor|    tt0106064|106|
|nm0350778|       Pierre Gérald|     1906|     2012|     actor|    tt0409184|106|
|nm0531042|      Lincoln Maazel|     1903|     2009|     actor|    tt0077914|106|
|nm0562499|        Robert Mayer|     1879|     1985|     actor|    tt0403761|106|
|nm0603217|      Miguel Morayta|     1907|     2013|     actor|    tt0268477|106|
|nm0714591|        Elmo Red Fox|     1870|     1976|     actor|    tt0055708|106|
|nm0755403|         Yutaka Sada|     1911|     2017|     actor|    tt0051808|106|
|nm0783615|       Tonio Selwart|     1896|     2002|     actor|    tt0037465|106|
|nm1051211|     Nicholas Winton|     1909|     2015|     actor|    tt0218705|106|
|nm3551334|     Horacio Coppola|     1906|     2012|     actor|   tt12187596|106|
|nm4756632|        Ernie Walker|     1916|     2022|     actor|    tt2102438|106|
|nm0262267|    Eugene L. Eubank|     1892|     1997|     actor|    tt0035689|105|
|nm0025045|        Lukas Ammann|     1912|     2017|     actor|    tt3327554|105|
+---------+--------------------+---------+---------+----------+-------------+---+
only showing top 20 rows

#### Q8: Actors that worked in the film industry the most

In [176]:
# Join actors and movies on movie_id to get actor and movie details
joined_df = name_basics_df.join(title_basics_df,
    f.expr("knownForTitle = tconst"),
    how="inner"
)

# Group by actor_id and calculate earliest and oldest movie years
actor_year_window = Window.partitionBy("nconst")
filtered_years_df = joined_df.filter(joined_df.startYear.isNotNull())
start_end_years_df = (
                    filtered_years_df
                    .withColumn("earliest_movie_year", f.min("startYear").over(actor_year_window)) 
                    .withColumn("oldest_movie_year", f.max("startYear").over(actor_year_window)) 
                    .select("nconst", "earliest_movie_year", "oldest_movie_year").distinct())

years_worked_df = start_end_years_df.withColumn("years_worked", f.col("oldest_movie_year") - f.col("earliest_movie_year"))
years_worked_df.orderBy(f.col("years_worked").desc()).show()

+----------+-------------------+-----------------+------------+
|    nconst|earliest_movie_year|oldest_movie_year|years_worked|
+----------+-------------------+-----------------+------------+
| nm1485676|               1895|             2017|         122|
|nm12182942|               1900|             2020|         120|
| nm0703075|               1899|             2019|         120|
| nm0923185|               1897|             2015|         118|
| nm3777335|               1902|             2020|         118|
|nm13890136|               1905|             2023|         118|
| nm0502124|               1900|             2016|         116|
| nm2251467|               1904|             2020|         116|
| nm8577610|               1903|             2018|         115|
| nm0685283|               1909|             2023|         114|
| nm0122813|               1898|             2011|         113|
| nm4537461|               1908|             2021|         113|
| nm1375863|               1911|             2023|         112|
| nm2071737|               1909|             2021|         112|
| nm0655824|               1911|             2023|         112|
| nm0078205|               1911|             2023|         112|
| nm1374534|               1911|             2023|         112|
| nm2421834|               1906|             2018|         112|
| nm0660139|               1911|             2023|         112|
| nm2955948|               1909|             2021|         112|
+----------+-------------------+-----------------+------------+
only showing top 20 rows

In [178]:
# Making sure dataset is tripping(not us)
joined_df = name_basics_df.join(title_basics_df,
    f.expr("knownForTitle = tconst"),
    how="inner"
)
joined_df.where(f.col("nconst")=="nm1485676").show()

+---------+------------+---------+---------+----------+-------------+----------+---------+--------------------+--------------------+-------+---------+--------------+-----------+
|   nconst| primaryName|birthYear|deathYear|Profession|knownForTitle|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|runtimeMinutes|      genre|
+---------+------------+---------+---------+----------+-------------+----------+---------+--------------------+--------------------+-------+---------+--------------+-----------+
|nm1485676|Princess Ali|     null|     null|   actress|    tt0229665| tt0229665|    short|        Princess Ali|        Princess Ali|      0|     1895|             1|      Short|
|nm1485676|Princess Ali|     null|     null|   actress|   tt11327742|tt11327742|    short|The Universe Mult...|The Universe Mult...|      0|     2017|          null|Documentary|
|nm1485676|Princess Ali|     null|     null|   actress|   tt11327742|tt11327742|    short|The Universe Mult...|The Universe Mult...|      0|     2017|          null|      Short|
+---------+------------+---------+---------+----------+-------------+----------+---------+--------------------+--------------------+-------+---------+--------------+-----------+

#### Q9: What is the average rating of movies/tvShows/shorts in the database?

In [93]:
window_spec = Window.partitionBy("titleType")

titles_ratings_joined_df = title_basics_df.join(title_ratings_df, "tconst")

ratings_df_with_avg = titles_ratings_joined_df.withColumn("AverageRatingByType", f.avg("averageRating").over(window_spec))

ratings_df_with_avg.select("titleType", "AverageRatingByType").distinct().show()

+------------+-------------------+
|   titleType|AverageRatingByType|
+------------+-------------------+
|       movie|   6.13661492364121|
|       short|   6.87268124400951|
|   tvEpisode|  7.397082662738441|
|tvMiniSeries|  7.149319747241659|
|     tvMovie|  6.547916374691202|
|    tvSeries| 6.9275777417030024|
|     tvShort|  6.878082188289075|
|   tvSpecial|  6.864447639269466|
|       video|  6.561980644607639|
|   videoGame|  6.952307144809957|
+------------+-------------------+